body {
    background: #EFF2F2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: inline-flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header, nav, section{
    border-bottom: 1px solid #DCDEDD;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 280%;
    color: #43474F;
}

#logoO {
    margin-top: 3px;
    height: 40%;
}

nav {
    padding: 20px 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav > a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #43474F;
    padding: 6px 10px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

nav > a:hover {
    background: #43474FD0;
    color: #DCDEDD;
}

h2 {
    margin: 25px 0 15px 0;
    text-align: center;
    font-size: 36px;
}