body { margin: 0; }

body.preload * { transition: none; }

section:not(#login) { display: none; }

/* Nav */

nav {
    position: fixed;
    top: 60px;
    left: -50%;
    bottom: 0;
    width: 45%;
    transition-duration: 500ms;
    z-index: 1000;
    background: #DDD;
    padding: 6px 0;
}

nav.active { left: 0; }
nav > p {
    line-height: 44px;
    margin: 10px 12px;
    border-radius: 10px;
    background: #BBB;
} 

section {
    border-bottom: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* Login */

#login {
    height: 100%;
    min-height: 100vh;
    background: url("../img/high-level-prototype/bg_login.jpg") no-repeat center center fixed;
    background-size: cover;
}

#login > img {
    width: 60vw;
    margin: 12vh 20vw;
    border-radius: 50%;
    box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.7);
    transition: margin 400ms;   
}

#login > img.onLogin { margin: 8vh 20vw; }

#logbtn, #regbtn {
    width: 60vw;
    margin: 3vh 20vw;
    box-sizing: border-box;
    padding: 4vw 0;
    border-radius: 15px;
}

#login > div > p { color: white; }
#logbtn { background: #26a69a; }
#regbtn { background: #00897b; }

#logform > form,
#regform > form {
    margin: 0 auto;
    width: 70vw;
    display: none;
}

#logform input,
#regform input {
    width: 70vw;
    box-sizing: border-box;
    background-color: #FFFFFFB0;
    border-radius: 15px;
    font-size: 22px;
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;
}

#logform input { border: 4px solid #26a69a; }
#regform input { border: 4px solid #00897b; }

#logform input::placeholder,
#regform input::placeholder { color: #777; }

/* Main */

#main { background: #FFF; }

#main > header {
    position: fixed;
    border-bottom: 0;
    background: #00bfa5;
    width: 100vw;
    height: 60px;
    transition: box-shadow .2s linear,-webkit-box-shadow .2s linear;
    
}

#main > header.scrolled {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

#sidebarButton > span { background-color: whitesmoke; }

#addDevice {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #008e76;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: auto;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

#addDevice > p {
    font-size: 40px;
    color: #FFF;
}

#content { margin-top: 60px; }
#content > div {
    min-height: calc(100vh - 60px);
    padding: 20px;
    padding-bottom: 80px;
}

div.gesture {
    border: 1px solid #888;
    margin: 10px;
    padding: 14px;
}

div.gesture > h5 {
    margin: 0;
} 