body { margin: 0; cursor: pointer; }
body.preload * { transition: none; }
section:not(#login) { display: none; }

/* Nav */
nav {
    position: fixed;
    top: 60px;
    right: -50%;
    bottom: 0;
    width: 45%;
    transition-duration: 500ms;
    z-index: 1000;
    background: #DDD;
    padding: 6px 0;
}

nav.active { right: 0; }
nav > p {
    line-height: 46px;
    margin: 10px 12px;
    border-radius: 10px;
    background: #BBB;
} 

section {
    border-bottom: 0;
    width: 100vw;
    position: relative;
}

/* Login */
#login {
    height: 100%;
    min-height: 100vh;
    background: url("../img/high-level-prototype/bg_login.jpg") no-repeat center center fixed;
    background-size: cover;
}

#login > img {
    width: 60vw;
    margin: 12vh 20vw;
    border-radius: 50%;
    box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.7);
    transition: margin 400ms;   
}

#login > img.onLogin { margin: 8vh 20vw; }

#logbtn, #regbtn {
    width: 60vw;
    margin: 3vh 20vw;
    box-sizing: border-box;
    padding: 4vw 0;
    border-radius: 15px;
}

#login > div > p { color: white; }
#logbtn { background: #26a69a; }
#regbtn { background: #00897b; }

#logform > form,
#regform > form {
    margin: 0 auto;
    width: 70vw;
    display: none;
}

#logform input,
#regform input {
    width: 70vw;
    box-sizing: border-box;
    background-color: #FFFFFFB0;
    border-radius: 15px;
    font-size: 22px;
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;
}

#logform input { border: 4px solid #26a69a; }
#regform input { border: 4px solid #00897b; }

#logform input::placeholder,
#regform input::placeholder { color: #777; }

/* Main */
#main { background: #FFF; }

header {
    position: fixed;
    border-bottom: 0;
    background: #00bfa5;
    width: 94vw;
    height: 60px;
    transition: box-shadow .2s linear,-webkit-box-shadow .2s linear;
    display: flex;
}

header.scrolled {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

header > h4 { margin: 10px; color: #FFF; }

#sidebarButton { float: right; }

#sidebarButton > span { background-color: whitesmoke; }

#content { margin-top: 60px; }
#content > div {
    padding: 20px;
    padding-bottom: 80px;
    min-height: calc(100vh - 160px);
}

/* List gestures */
div.gesture {
    border: 1px solid #888;
    margin: 10px;
    padding: 14px;
    border-radius: 10px;
}

div.gesture > h5 { margin: 0; }

/* List devices */
#listDevices { display: none; }

div.device {
    border: 1px solid #888;
    margin: 10px;
    padding: 14px;
    border-radius: 10px;
    display: inline-grid;
    grid-column-gap: 20px;
    grid-template-columns: 20vw auto 14vw;
}

div.device > img { width: 20vw; transition: 200ms filter linear; }
div.device > img.off { filter: brightness(40%); }

div.device > div {
    width: calc(100vw - 34vw - 130px);
    padding: 10px 0;
    margin: auto 0;
}

div.device > div > h5 { margin: 0; font-size: 16px; }
div.device > div > span { font-size: 14px; }
div.device > div > span.on { color: green; }
div.device > div > span.off { color: red; display: none; }

/* Add button */
#addGestureBtn, 
#addDeviceBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: auto;
    background: #FFF;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

#addGestureBtn > svg,
#addDeviceBtn > svg {
    fill: #008e76;
    width: 100%;
    height: 100%;
}

/* Slider */
.switch {
    position: relative;
    display: inline-block;
    width: 14vw;
    height: 28px;
    margin: auto 0;
}

.switch input { opacity: 0; width: 0; height: 0; }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider { background-color: #2196F3; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider::before { transform: translateX(calc(14vw - 30px)); }


/* Add Device */
#addDevice,
#addGesture { display: none; position: relative; }

#addDevice > h3,
#addGesture > h3 {
    text-align: center;
    margin: 0 0 12px 0;
}

#addDevice > div:not(#doneAddDevice),
#addGesture > div:not(#doneAddGesture) {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 20vw auto;
    grid-column-gap: 10px;
}

#addDevice > div > div.iconDev,
#addGesture > div > div.iconDev {
    margin: 3vw;
    width: 14vw;
    height: 14vw;
    background: #008e76;
    border-radius: 50%;
}

#addDevice > div > div.iconDev > img,
#addGesture > div > div.iconDev > img {
    filter: invert(90);
    margin: 20%;
    width: 60%;
    height: 60%;
}

#addDevice > div > div.inp > h4,
#addGesture > div > div.inp > h4 {
    margin: 12px 0 6px 0;
}

#addDevice > div > div.inp > input,
#addGesture > div > div.inp > input {
    border: 0;
    border-bottom: 2px solid #888;
    width: 94%;
    height: 20px;
    font-size: 16px;
}

#addDevice > #doneAddDevice,
#addGesture > #doneAddGesture {
    background: teal;
    margin: 0 12vw;
    padding: 10px;
    border-radius: 30px;
    width: calc(76vw - 40px);
    box-sizing: border-box;
    position: absolute;
    bottom: 40px;
}

#addDevice > #doneAddDevice > p,
#addGesture > #doneAddGesture > p { color: white; }

/* My Account */
#myAccount { display: none; }

#myAccount > img {
    display: block;
    margin: 0 auto;
    width: 32vw;
}

#myAccount > h4 { margin: 20px 20px 10px 20px; }
#myAccount > p { font-family: 'Montserrat'; }

/* Settings */
#settings { display: none; }

#settings > div {
    border-bottom: 1px solid #888;
    padding: 14px;
    display: grid;
    grid-template-columns: auto 14vw;
    grid-column-gap: 20px;
}

#settings > div > p { text-align: left; }
