#knocki {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 30px 20px 30px;
}

#knocki > img {
    height: 400px;
}

#knocki > div {
    width: 30%;
    min-width: 500px;
    padding: 0 0 60px 60px;
}

#knocki > div > h2 {
    text-align: left;
}

#knocki > div > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 160%;
    margin: 0;
}

#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#members > div {
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#members > div > * {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

#members > div > img {
    width: 120px;
    border-radius: 50%;
}