#personas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#personas > div {
    width: 400px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personas > div > h1 {
    font-size: 34px;
    margin-bottom: 0;
}

#personas > div > img {
    height: 270px;
    width: 400px;
}

#personas > div > p {
    text-align: center;
    width: 300px;
    font-size: 18px;
}