h2 {
    margin-bottom: 0;
}

#personas {
    display: flex;
    overflow-x: scroll;
    padding: 20px 20px 10px 130px;
}

#personas > div {
    min-width: 400px;
    box-shadow: -6px 0 12px #64646490;
    margin: 10px 0 10px -110px;
    transition: .2s;
    background-color: #E6E6E6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personas > div:hover {
    transform: translate(0 , -15px);
}

#personas > div:hover~div {
    transform: translateX(120px);
}

#personas > div > h1 {
    font-size: 34px;
    margin-bottom: 0;
}

#personas > div > img {
    height: 270px;
    width: 400px;
}

#personas > div > p {
    font-size: 18px;
    text-align: center;
    padding: 0 40px;
}

#personas > div > p:first-of-type {
    max-width: 380px;
    height: 74px;
}