#personas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#personas > div {
    width: 400px;
    margin : 10px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: rise 2s ease forwards;
}

@keyframes rise{
    0%{ opacity: 0; transform: translateY(50px); }
    100%{ transform: translateY(0px) }
}

#personas > div > h1 {
    font-size: 34px;
    margin-bottom: 0;
}

#personas > div > img {
    height: 270px;
    width: 400px;
}

#personas > div > p {
    text-align: center;
    width: 300px;
    font-size: 18px;
}